@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select,
textarea,
button {
    outline: none;
}

#dateAndTime::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#landing-bg {
    background-image: url('/Backgrounds/landing-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin-bg {
    background-image: url('/Backgrounds/landing-bg.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    /* height: 100%; */
}